



<!DOCTYPE html>
{% load static %}
<html>
    <head>

        <meta charset="utf-8">
        <title>new payment</title>
    </head>



    <body>
    {% if messages %}
<ul>
	{% for message in messages %}

     <script>
    alert('{{ message }}');
</script>
	{% endfor %}
</ul>
{% endif %}

    <form method="post">
        {% csrf_token %}
        <table cellpadding="7" align="center" bgcolor="#FAFAFA" width="45%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">

            
            <tr align="center">

                
                <td colspan="3"  align="center">
                    OrderNo {{ order.orderno }}<br><br>
                    Grand Total:Rs {{ d.Grand_Total }}<br><br>
                  No of items: {{ item.item }}
                </td>     
            </tr>

              

        </table >
               
        <table align="center" bgcolor="#FAFAFA"  width="45%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
            <tr>
                <td>
                    <img src="{% static 'img/icon-benefitinvoicing-getpaid.png' %}" width="350" height="200">
                </td>
               <!-- <td>
                    <input type="radio" name="method" value="1"  id="card">Credit/Debit/ATM Card<br><br>

                    <input type="radio" name="method" value="2" id="netbanking">Net Banking<br><br>
                   
                    <input type="radio" name="method" value="3" id="cash">Cash On Delivery<br><br>
c
                     <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'payment:Card' %}" >Pay &#8377; {{ d.Grand_Total }}</a></b></font></h3>
                </td>-->
                <td>
                     <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'card:Card' %}" >Credit/Debit/ATM Card</a></b></font></h3>
                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'netbank:netbank' %}" >Net Banking</a></b></font></h3>
                    <h3 align="center"><font color="#03A9F4">  <b><a href="{% url 'finalpay:finalpay' %}" >Cash On Delivery</a></b></font></h3>
                    <h3 align="center"><font color="#03A9F3">  <b>Pay Rs: {{ d.Grand_Total }}</a></b></font></h3>


                </td>
                <td>

                </td>
                <td>
                    {{ a }}
                </td>
            </tr>
        </table>
    </form>
    </body>

</html>
