<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1> <center> Feedback</center></h1>

</head>
<body>
 <form method="post">
        {% csrf_token %}
    <table align=center>
        <tr>
            <td>
                feedback:
            </td>
            <td>
                {{ form.content }}
            </td>
        </tr>
        <tr>
             <td>
                Date
            </td>
            <td>
                {{ form.date }}
            </td>


         <tr>

        </tr>
        <tr >
            <td>
 {{ IDD }}
            </td>
            <td>
               <input type="submit" name="submit" value="insert">

                </td>
        </tr>


    </table>

     <table align="center" border="1">
         <tr>
             <td>feedback</td>
             <td>date</td>


         </tr>
         {% for obj in data %}
         <tr>
             <td>{{ obj.id }}</td>
             <td>{{ obj.content }}</td>
             <td>{{ obj.date }}</td>
            

         </tr>
         {% endfor %}

     </table>

        </form>

</body>
</html>